<nav>
    <li><a href="/api/mozi">Főoldal</a></li>
    <li><a href="/api/mozi/filmek">Filmek</a></li>
    <li><a href="/api/mozi/nezok">Nézők</a></li>
    <li><a href="/api/mozi/foglalasok">Foglalások</a></li>
</nav>
